/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:wght@400;500;700;900&display=swap');
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	background-color: #fff;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
}
h1, h2, h3, h4, h5, h6{
	font-family: 'Bebas Neue', cursive;
	font-weight: bold;
	line-height: .9;
}
h1 {
	font-size: 70px;
	font-weight: 500;
}
h2 {
	font-size: 35px;
	color: #363958;
}
h3 {
	color: #FA804C;
	font-size: 36px;
}
h5 {
	font-size: 20px;
	color: #363958;
	font-family: 'Roboto', sans-serif;
}
p{
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	color: #777777;
}
header{
	background-color: #F1F1F1;
}
.slider-area .text-wrapper h1:first-child{
	color: #FA804C;
}

.slider-area .text-wrapper h1:nth-child(2){
	color: #363958;
}
.btn-wrapper{
	position: relative;
}
.btn-wrapper i {
    position: absolute;
    color: #fff;
    top: 15px;
    left: 20px;
}
.btn-wrapper .btn-style {
    text-decoration: none;
    background-color: #3D4FF3;
    color: #fff;
    text-transform: capitalize;
    padding: 10px 25px;
    padding-left: 45px;
    display: inline-block;
    border-radius: 5px;
}
.mobile-preview{
	display: none;
}
.card{
    border: none;
    border-radius: 10px;
    box-shadow: 5px 5px 10px lightgray;
}
.card-footer{
    background-color: white;
    border-top: none;
}
.casual-shoes > .card-img-top{
	background-color: #F1F1F1;
}
.casual-shoes > .card {
	padding: 15px;
    border-radius: 20px;
}
.btn-style:hover{
	background:#173b67;
}
/* feature */
.single-feature{
	border-radius: 10px;
    box-shadow: 5px 5px 10px lightgrey;
}
/* service */
.icon-style {
    width: 60px;
    height: 50px;
}
.border-bottom-style {
	border-bottom: 1px solid #dddddd;
}
/* newsletter */
.instagram{
	font-size: 32px;
	color: #222222;
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
}
.newsletter{
	font-family: 'Roboto', sans-serif;

	font-size: 18px;
	font-weight: 500;
	letter-spacing: 1px;
}
.form-control {
    background-color: #f5f2f2;
    padding: 26px 26px 20px 20px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.subscribe {
    padding: 10px 20px;
	border-radius: 0;
	background: #e4604a;
	border: none;
	outline: 2px solid #e4604a;
}
.subscribe:hover {
    background-position: 100%;
    color: #363958 !important;
	background-color: #ffffff;
	transition: .3s ease-in-out;
}

/* Meadia Queries */
@media (min-width: 576px) and (max-width: 991.98px) {
	h3 {
		color: #FA804C;
		font-size: 25px;
	}
	.btn-wrapper .btn-style {
		padding: 8px 10px;
		padding-left: 45px;
		font-size: 15px;
	}
	.btn-wrapper i {
		top: 10px;
	}
	.navbar-brand{
		display: contents;
	}
	section.navbar-area {
		padding: 20px 0;
	}
	.feature p {
		font-size: 12px;
	}
	.feature h5 {
		font-size: 16px;
	}
	.navbar-nav > a {
		padding: 15px 0;
	}

 }
@media (max-width: 767px){
	.mobile-preview{
		display: block;
	}
	.desktop-preview{
		display: none;
	}
	.navbar-brand{
		display: contents;
	}
	section.navbar-area {
		padding: 20px 0;
	}
}
@media (min-width: 992px) {
	.navbar-nav > a {
		font-size: 16px;
		padding: 45px 0;
		margin-left: 30px;
		display: inline-block;
	}
	.text-wrapper p{
		width: 352px;
	}
	.card-deck .card {
		margin-right: 30px;
	}
 }


 @media (min-width: 576px) and (max-width: 767px) {
	.card-deck {
		display: block;
	}
	.card-deck .card {
		margin-bottom: 2em;
	}
 }
